{% extends 'admin/base_site.html' %}
{% load i18n admin_urls static chart_utils %}

{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <!-- Load c3.css -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.6.2/c3.min.css" rel="stylesheet">

    <!-- Load d3.js and c3.js -->
    <script src="https://d3js.org/d3.v4.min.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.6.2/c3.min.js"></script>
    <style>
        .model-chart {
            width: 49.5%;
            float: left;
            margin: 0 0.25% 0;
        }

        a.section {
            color: #e3eff5 !important;
        }

        a.section:hover {
            color: #fff !important;
        }
    </style>
{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
        &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ module_name }}</a>
        &rsaquo; {% trans 'Charts' %}
    </div>
{% endblock %}

{% block content %}
    <style>

    </style>
    <h1>{% trans 'Charts' %}</h1>
    <div id="content-main">
        <div class="module">
            {% for chart in charts %}
                <div class="model-chart">
                    <h2>
                        {{ chart.0 }}
                        {% if chart.1.filter %}
                        {% endif %}
                        <a href="javascript:void(0);" class='section' style="float: right;">
                            <i class="fas fa-cogs"></i> {% trans 'Filter' %}
                        </a>
                    </h2>
                    <div id="chart-{{ forloop.counter }}"></div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    {{ block.super }}
    <script>
        var chart = [];
        (function () {
            {% for chart in charts %}
                chart.push(
                    c3.generate({
                        bindto: '#chart-{{ forloop.counter }}',
                        data: {
                            columns: [{% for column, data in chart.1.columns %}
                                ['{{ column }}', {% if data|is_iterable %}{% for item in data %}'{{ item.total }}', {% endfor %}{% else %}'{{ data }}', {% endif %}],{% endfor %}
                            ],
                            type: '{{ chart.1.type }}',
                        },
                        {% if chart.1.colors %}
                            color: {
                                pattern: [{% for color in chart.1.colors %}'{{ color }}',{% endfor %}]
                            },
                        {% endif %}
                        {% if chart.1.groups %}
                            groups: [{% for group in chart.1.groups %}
                                [{% for item in group %}'{{ item }}',{% endfor %}],{% endfor %}
                            ],
                        {% endif %}
                        {% if chart.1.axis %}
                            axis: {
                                {% if chart.1.axis.x %}
                                    x: {
                                        type: '{{ chart.1.axis.x.type }}',
                                        categories: [{% for column, values in chart.1.columns %}{% for item in values %}'{{ item.date_test }}', {% endfor %}{% endfor %}]
                                    },
                                {% endif %}
                            },
                        {% endif %}
                        {% if chart.1.type != 'donut' and chart.1.type != 'pie' %}
                            grid: {
                                y: {
                                    lines: [{value: 0}]
                                }
                            }
                        {% endif %}
                    })
                );
            {% endfor %}
        })();
    </script>
{% endblock %}